*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

/*body{
    background-color: gray;
}*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    text-transform: uppercase;
}

.nav-links a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 180px;
    font-size: 14px;
    letter-spacing: 2px;
    padding:14px 0px;
    text-align: center;
    cursor: pointer;
    
}

.nav-links a:hover{
    background-color:rgb(240, 240, 240);
}
.logo{
    fill: black;
    max-height: 50px;
}

.artboardByRahul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: black;
}

.artboardByRahul svg{
    fill: white;
}

.artboardByRahul p{
    text-align: center;
    color: white;
    display: block;
    font-size: 36px;
    height: 50px;
}

.introText{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 50px;
    background-color: black;
}

.portfolioClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: coral;
}

.heading{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 24px;
    padding: 25px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.ArtBoardIG{
    height: 80vh;
    width: 75%;
}






/*@media screen and (max-width:768px){
    .nav-links a{
        width: 140px;
                
    }
}

@media screen and (max-width:512px){
    ul{
        display: flex;
        justify-content: space-around;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100%;
        width: 100%;
        top: 0px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links a{
        text-decoration: none;
        color: black;
        display: block;
        background-color: gray;
        max-width: 100%;
        font-size: 14px;
        letter-spacing: 2px;
        padding:10px 0px;
    }
} */