*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg-video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.backdrop{
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.mytitle{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.inside-title{
    padding: 15px 0px;
    font-family: 'Satisfy', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: rgb(224, 26, 79);
    background-color: rgba(83, 179, 203, 0.5);
    width: 100%;
    height: 100%;
    text-shadow: rgb(83, 179, 203) 0px 0px 10px;
    animation: my-text 2s ease-in-out infinite alternate-reverse;
}

@keyframes my-text{
    100%{
        color: rgb(249, 194, 46);
    }
}

.marq{
    display: block;
    height: 26px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(12, 9, 13);
    padding: 5px 0px;
    background-color: rgba(249, 194, 46, 0.5);
}

.congrats{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.inside-congrats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(249, 194, 46, 0.5);
    color: rgb(12, 9, 13);
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 22px;
    padding: 20px;
}

.word-info{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 5px;
}

.pad-top{
    padding-top: 0px;
}

.inside-word-info{
    background-color: rgba(224, 26, 79, .5);
    color: rgb(12, 9, 13);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.inside-footer{
    background-color: rgba(255, 255, 255, .5);
    color: rgb(224, 26, 79);
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

