nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh ;
    background-color: white;
    box-shadow: 0px 0px 10px;
    
}
ul{
    display: flex;
    justify-content: space-around;
    
}
li{
    list-style: none;
    text-transform: uppercase;
    background-color:white;
    
}
.nav-links{
    position: absolute;
    right: 0px;
    height: 90vh;
    width: 100%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-links a{
    text-decoration: none;
    color: black;
    display: block;
    background-color: gray;
    max-width: 100vh;
    font-size: 14px;
    letter-spacing: 2px;
    padding:10px 0px;
}


