*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.portfolio-top{
    width: 100vw;
    height: 8vh;
    background-color: ghostwhite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    /* position: fixed;
    top: 0%; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

iframe{
    border: none;
    width: 100vw;
    height: 90vh;
}